<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dqserv.dqpos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name="com.dqserv.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Categories"
            android:label="@string/title_activity_categories"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Tables"
            android:label="@string/title_activity_tables"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Products"
            android:label="@string/title_activity_products"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".POS"
            android:label="@string/pos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OrdersList"
            android:label="@string/orders_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Orders"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/order"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BillActivity"
            android:label="@string/bill"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PaymentActivity"
            android:label="@string/payment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingActivity"
            android:label="@string/setting"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>